<div>
  <div class="flex justify-between items-center">
    <p class="font-semibold text-lg">Job description</p>
    <button
      class="border border-[#dadedf] text-[#5b5858] rounded-lg text-sm flex items-center px-3 py-1.5 gap-1 cursor-pointer hover:border-[#3c41e9] hover:text-[#3c41e9]"
    >
      <lucide-icon name="square-pen" [size]="15" />
      Description
    </button>
  </div>
  <div class="grid grid-cols-[75%_20%] justify-between my-5 gap-5">
    <div class="">
      <p class="font-bold text-sm mb-2">About Company</p>
      <div class="flex flex-col gap-4">
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nam voluptatibus,
          quibusdam temporibus eaque est facilis reprehenderit tempore, cupiditate eveniet omnis ut
          aliquam beatae consequatur id voluptate deserunt error! Nostrum modi beatae eligendi
          fugiat sapiente suscipit explicabo numquam animi quas.
        </p>
        <p class="text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi ea culpa soluta atque
          corporis dolor quibusdam, repellendus fugiat placeat. Dolores numquam, quas, molestias,
          impedit perferendis vel veniam provident voluptatibus asperiores porro temporibus eligendi
          dolorem quisquam inventore reprehenderit consequatur iusto?
        </p>
        <p class="text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quasi ea culpa soluta atque
          corporis dolor quibusdam, repellendus fugiat placeat. Dolores numquam, quas, molestias,
          impedit perferendis vel veniam provident voluptatibus asperiores porro temporibus eligendi
          dolorem quisquam inventore reprehenderit consequatur iusto?
        </p>
      </div>
    </div>
    <div class="border border-[#dadedf] bg-[#f4f5f7] rounded-xl px-3 py-1">
      <div class="border-b border-[#dadedf] py-2 flex flex-col gap-[0.2rem]">
        <p class="text-xs font-medium text-[#888c91]">Active until</p>
        <p class="text-xs font-bold">Jan 31, 2025</p>
      </div>
      <div class="border-b border-[#dadedf] py-2 flex flex-col gap-[0.2rem]">
        <p class="text-xs font-medium text-[#888c91]">Department Type</p>
        <p class="text-xs font-bold">Design</p>
      </div>
      <div class="border-b border-[#dadedf] py-2 flex flex-col gap-[0.2rem]">
        <p class="text-xs font-medium text-[#888c91]">Job Type</p>
        <p class="text-xs font-bold">Full Time</p>
      </div>
      <div class="py-2 flex flex-col gap-[0.2rem]">
        <p class="text-xs font-medium text-[#888c91]">Location</p>
        <p class="text-xs font-bold">Remote</p>
      </div>
    </div>
  </div>
</div>
