<div>
  <div class="flex justify-between items-center">
    <p class="font-semibold text-lg">Candidates</p>
    <div class="flex items-center gap-2">
      <input
        type="text"
        class="border border-[#dadedf] px-2 py-1 rounded-lg placeholder:text-sm"
        placeholder="Search name or email here..."
      />
      <button
        class="bg-[#3c41e9] text-[#ffffff] rounded-lg text-sm flex items-center px-3 py-1.5 gap-1 cursor-pointer hover:border-[#3c41e9] hover:text-[#ffffff]"
      >
        <lucide-icon name="plus" [size]="15" />
        Add Candidate
      </button>
    </div>
  </div>
</div>
